.brush .extent {
    stroke: #fff;
    fill-opacity: .15;
    shape-rendering: crispEdges;
}

.link {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.xAxis path {
    display: none;
}

.xAxis line {
    shape-rendering: crispEdges;
    stroke: #000;
}

.sequences.print rect{
    fill: #f2f2f2;
    stroke: #333333;
}

.sequences rect{
    fill: #66ccff;
    stroke: #0d0d0d;
}

.homologous-region polygon{
    fill: #d1d1d1;
    stroke: #A4A4A4;
}

.genomicIslands.print polygon{
    fill: #595959;
    stroke: #595959;
}

.genomicIslands polygon{
    fill: #3333ff;
    stroke: #3333ff;
}

.genes.print polygon{
    fill: #0d0d0d;
    stroke: #0d0d0d;
}

.genes polygon{
    fill:#ff9933;
    stroke:#ff9933;
}

#alignmentControls{
    position: fixed;
    text-align:center;
    display: table;
}

.controlBody{
    background-color: rgba(106, 203, 255, 0.8);
}

.controlRow{
    display: table-row;
}

.controlBody{
    width: 120px;
    display: table-cell;
}

.controlSide{
    display: table-cell;
}