// Bootstrap/theme imports (order matters)
@import "~bootswatch/dist/sandstone/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/bootswatch";
@import '~bootstrap-vue/src/index.scss';

@import 'icons';

/**** JobRunner formatting ****/

body {
  counter-reset: workflow-input-counter;
}

.JobRunner .galaxy-workflow-parameters .card-header > *:first-child:before {
  content: counter(workflow-input-counter) '. ';
  counter-increment: workflow-input-counter;
}

.galaxy-history-item-hid {
  /* hide history item hids */
  display: none;
}

/*.galaxy-history-item-hid::after {
  content: ":\00a0";
}*/

.galaxy-history-item-name input {
  width: 30em;
}

.galaxy-history-item-progress {
  max-width: 50%;
}

.galaxy-history-item-progress.uploading .galaxy-history-item-progressbar::before, .galaxy-history-item-progress.queued .galaxy-history-item-progressbar::before, .galaxy-history-item-progress.running .galaxy-history-item-progressbar::before {
  content: "Uploading";
}

.galaxy-function {
  /* Hide text */
  font-size: 0;
  padding: 2px;
}

.galaxy-function i {
  font-size: 0.8rem;
}

.icon-errorinfo {
  color: red;
}

.error-log {
  overflow-y: scroll;
  font-size: 0.7em;
  background: #F6F6F6;
}

.galaxy-workflow-output-download > * {
  color: var(--success);
  text-transform: unset;
  font-weight: inherit;
  font-size: inherit;
}

/**** Overall page formatting ****/

html {
  height: 100%;
}

/*body, #app {
  height: 100%;
}*/

body {
  background: white;
}

:root {
  --info: #6497b1;
  --success: #60a677;
}

a {
  color: var(--success);
}

#app > nav {
  background-color: var(--info) !important;
}
#app > nav a[href="/"] {
  text-transform: none;
}

.btn-success {
  background-color: var(--success);
  border-color: var(--success);
}

// Global side margins
$margin_width: 8vw;
$bottom_nav_height: 2vh;
#app {
  margin: 0 $margin_width;
  font-size: 14px;
  //margin-bottom: 1vh;
}

#app .sticky-top {
  margin: 0 (-$margin_width);
}

#app > nav {
  padding-left: $margin_width;
}

#app > nav .nav-link {
  font-size: 1.2em;
}

.Analysis {
  width: unset;
}

.content {
  /*margin-left: unset;
  margin-right: unset;*/
  padding-left: unset;
  padding-right: unset;
}

.content:not(.Analysis, .Home) {
  padding: 2vh 1vw;
  min-height: 70vh;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

.content:not(.Home) .static_content .button-icon, .content:not(.Home).static_content .button-icon {
  float: right;
  vertical-align: text-top;
}

.static_content.faq > p:first-child {
  display: contents;
}

// Floating content boxes
.Analysis .JobRunner, .static_content, .JobHistory, .Home .col.floating, .Home .News .card {
  //background: white;
  //box-shadow: 0 0 3px gray;
  border-radius: 0.25rem;
}

// Back out of the above changes for Home
.Home .static_content, .visualize {
  box-shadow: none;
  padding: unset;
}

#app > .content, #app > footer {
  margin-top: 1vh;
}

#app > footer {
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

#app > footer > .row:first-child {
  padding: 1vh $margin_width;
  border-top: 1px solid black;
  font-size: 0.8rem;
  max-width: unset;
  width: unset;
}

#app > footer p {
  margin-bottom: 0.5em;
}


/**** Element specific tweaks ****/
.Analysis {
  margin-top: 0;
}

.News {
  font-size: 0.8rem;
}

.content.News {
    flex-direction: column;
}

.content.News .card {
  margin-bottom: 15px;
}

.button-icon {
  background: var(--info);
  color: white;
  height: 3em;
  width: 10em;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  padding: 4px;
  text-decoration: none;
}

a.button-icon:link, a.button-icon:hover {
  text-decoration: none !important;
  color: white;
}

.button-icon .icon {
  font-size: 1em;
  display: block;
  margin-top: 2px;
}

.button-icon.inline {
  /*float: left;*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  margin: 0;
  margin-right: 1em;
}

.button-icon.inline .icon {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 0.5em;
}
//--


//--Visualization
.content.visualize {
  margin: 0 (0.5vw-$margin_width);
  padding: 0 !important;
  background: white;
  height: 85vh;
}

.visualize > iframe {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

//Terms of service footer
.tosfooter {
  line-height: 2vh;
  font-size: 1.5vh;
  padding-top: 0;
  padding-bottom: 0;
}

.tosfooter_content {
  padding-top: 0;
  padding-bottom: 0;
}
