<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IslandCompare - Alignment</title>
    <script src="static/vendor/foundation-6/js/vendor/jquery.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/genomeManage/js/alignervis.js"></script>
    <link rel="stylesheet" href="static/genomeManage/css/linearplot.css" />
</head>
<body>
    <div id="alignmentContainer"></div>
    <div id="alignmentControls">
        <button id="resetRange">Reset Visualization</button>
        <button id="printerColors">Toggle Printer Colors</button>
    </div>
    <script>
        /*
        var jobData=null;
        var treeData=null;

        $.ajax({
            type: 'GET',
            url: '/getJobData?jobid={{id}}',
            dataType: 'json',
            success: function(data) {
                jobData=data;
            },
            data: {},
            async: false
        });

        $.ajax({
            type: 'GET',
            url: '/getTreeData?jobid={{id}}',
            dataType: 'json',
            success: function(data) {
                treeData=data;
            },
            data: {},
            async: false
        });
        */

        var container = new MultiVis("#alignmentContainer");
        //Below function calls old function to parse raw mauve backbone files and construct tree
        //container.backbone.parseAndRenderBackbone("/retrieveMauve?id={{id}}",container,jobData,treeData,true);

        //Below function constructs tree from JSON mauve output from server
        container.backbone.retrieveJsonAndRender("/getAlignerData?id={{id}}",container);

        // Add listeners to button controls
        $(document).ready(function(){
            //Button resets the range of the linear plot to (0,maxSize)
            $("#resetRange").on("click",this,function(){
                container.resetAndRenderRange();
            });
            //Button toggles printer colors on the linear plot
            $("#printerColors").on("click",this,function(){
                container.togglePrinterColors();
                container.render();
            });
        })
    </script>
</body>
</html>