<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IslandCompare - Alignment</title>
    <script src="static/vendor/foundation-6/js/vendor/jquery.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="static/vendor/D3Addons/d3.phylogram.js"></script>
    <script src="static/vendor/D3Addons/newick.js"></script>
    <script src="/static/genomeManage/js/alignervis.js"></script>
    <link rel="stylesheet" href="static/genomeManage/css/linearplot.css" />
</head>
<body>

    <div id="alignmentControls">
        <div class="controlRow">
            <div class="controlBody">
                <span id="#controlTitle">Controls</span>
                <button id="resetTree">Reset Tree</button>
                <button id="resetRange">Reset Zoom</button>
                <button id="toggleBranchLength">Toggle Branches</button>
                <button id="printerColors">Toggle Grayscale</button>
            </div>
            <!--
            <div class="controlSide">
                <button id="toggleControls">(<<)</button>
            </div>
            -->
        </div>
    </div>
    <div id="alignmentContainer"></div>

    <script>
        var container = new MultiVis("#alignmentContainer");

        //Below function constructs tree from JSON mauve output from server
        container.backbone.retrieveJsonAndRender("/getAlignerData?id={{id}}",container);

        // Add listeners to button controls
        $(document).ready(function(){
            //Button resets any tree zooming that was done
            $("#resetTree").on("click",this,function(){
                container.resetAndRenderGraph();
            });
            //Button resets the range of the linear plot to (0,maxSize)
            $("#resetRange").on("click",this,function(){
                container.resetAndRenderRange();
            });
            //Button toggles if show true branch lengths or not
            $("#toggleBranchLength").on("click",this,function(){
                container.toggleTrueBranchLengths();
                container.transition();
            });

            //Button toggles printer colors on the linear plot
            $("#printerColors").on("click",this,function(){
                container.togglePrinterColors();
                container.render();
            });
            //Button that toggles the control div left or right
            $('#toggleControls').click(function(event) {
                controlwidth = $('.controlBody').css('width');
                value = $('#alignmentControls').css('left') === ('-'+controlwidth) ? 0 : ('-'+controlwidth);
                $('#alignmentControls').animate({
                    left: value
                });
            });
        })
    </script>
</body>
</html>