<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IslandCompare</title>
    <link rel="stylesheet" href="static/vendor/foundation-6/css/foundation.css" />
    <link rel="stylesheet" href="static/genomeManage/css/base.css" />
    <link rel="stylesheet" href="static/vendor/DataTables/datatables.css"/>
</head>
<body>
    <!--The top bar menu-->
    <div class="top-bar">
        <div class="top-bar-left">
            <span id="siteTitle">IslandCompare</span>
            <ul class="menu">
                <li><a id="mainMenuButton" href="#">Main</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <button id ="loginButton" type="button" class="button">Log In</button>
            <button id="logoutButton" type="button" class="button">Log Out</button>
        </div>
    </div>

    <!--Content Goes Here-->
    <div id="content">
        <div class="row">
            <div class="small-12 columns">
                <h3>
                    IslandCompare
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue luctus lorem a tempor. Phasellus
                    pulvinar urna vel bibendum consectetur. Sed nulla quam, pharetra eget eleifend sit amet, dapibus a
                    turpis. Sed vulputate mauris ut sapien semper, ac consectetur velit iaculis. Praesent nunc augue,
                    tempor nec blandit vitae, laoreet vitae tortor. In hac habitasse platea dictumst. Duis neque mi,
                    gravida eget fermentum vel, iaculis at libero. Vestibulum a iaculis nulla. Morbi ut diam in enim
                    finibus ornare ut sed ex. Aenean sed felis lectus. Sed et magna sapien. Nulla pharetra vulputate
                    eleifend. Vivamus in congue augue, et facilisis massa. Fusce pellentesque ante et felis ornare,
                    non faucibus velit rutrum. Suspendisse aliquam accumsan lorem vel tincidunt. Nulla venenatis
                    scelerisque massa, at hendrerit nibh aliquam in.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <img src="static/genomeManage/img/islandcompare-menu.png">
            </div>
            <div class="small-6 columns">
                <img src="static/genomeManage/img/islandcompare.png">
            </div>
        </div>
    </div>
    
    <script src="static/vendor/foundation-6/js/vendor/jquery.min.js"></script>
    <script src="static/vendor/foundation-6/js/foundation.js"></script>
    <script src="static/genomeManage/js/menu.js"></script>
    <script src="static/vendor/DataTables/datatables.js"></script>

    {% if user.is_authenticated %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#content").load("/manage");
            window.menu.toggleLoginButton();
        });
    </script>
    {% endif %}
</body>
</html>