<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IslandCompare</title>
    <link rel="stylesheet" href="static/vendor/foundation-6/css/foundation.css" />
    <link rel="stylesheet" href="static/genomeManage/css/base.css" />
    <link rel="stylesheet" href="static/vendor/DataTables/datatables.css"/>
</head>
<body>
    <!--The top bar menu-->
    <div class="top-bar">
        <div class="top-bar-left">
            <span id="siteTitle">IslandCompare</span>
        </div>
        <div class="top-bar-right">
            <button id ="loginButton" type="button" class="button">Log In</button>
            <button id="logoutButton" type="button" class="button">Log Out</button>
        </div>
    </div>

    <!--Content Goes Here-->
    <div id="content">

    </div>
    
    <script src="static/vendor/foundation-6/js/vendor/jquery.min.js"></script>
    <script src="static/vendor/foundation-6/js/foundation.js"></script>
    <script src="static/genomeManage/js/menu.js"></script>
    <script src="static/vendor/DataTables/datatables.js"></script>

    {% if user.is_authenticated %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#content").load("/manage");
            window.menu.toggleLoginButton();
        });
    </script>
    {% endif %}
</body>
</html>