<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IslandCompare - Login</title>
    <link rel="stylesheet" href="static/genomeManage/css/base.css" />
</head>
<body>
    <form id="loginForm" action="login" method="post">{% csrf_token %}
        <div class="row">
            <div class="large-12 columns">
                <input class="loginInputField" type="email" placeholder="Email" name="username">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <input class="loginInputField" type="password" placeholder="Password" name="password">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
    <script src="static/genomeManage/js/login.js"></script>
</body>
</html>