<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IslandCompare - Manage</title>
    <link rel="stylesheet" href="static/vendor/foundation-6/css/foundation.css" />
    <link rel="stylesheet" href="static/genomeManage/css/base.css" />
</head>
<body>
    <div class="row uploadGenome">
        <div class="large-12 columns">
            <form id="genomeUploadForm">{% csrf_token %}
                Drop files here or click to upload.
                <div id="genomePreviewBox" class="dropzone-previews"></div>
            </form>
        </div>
    </div>

    <br>

    <div class="row genomeStatus">
        <div class="large-12 columns">
            <form id="genomeListForm" method="post">{% csrf_token %}
                <table id="genomeTable">
                    <caption>Genome Status</caption>
                    <thead>
                        <tr>
                            <th>Name</th><th>Id</th><th>File Name</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <br>

    <div class="row jobStatus">
        <div class="large-12 columns">
            <table id="jobTable">
                <caption>Job Status</caption>
                <thead>
                    <tr>
                        <th>Status</th><th>Job ID</th><th>Job Type</th><th>Output File</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="static/genomeManage/js/manage.js"></script>
    <script src="static/vendor/dropzone/dropzone.js"></script>
    <script>
        $("form#genomeUploadForm").dropzone({ url: "genomeUpload",
            paramName: "uploadedGenomes",
            previewsContainer:"#genomePreviewBox"});
    </script>
</body>
</html>