<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IslandCompare - Manage</title>
    <link rel="stylesheet" href="static/vendor/foundation-6/css/foundation.css" />
    <link rel="stylesheet" href="static/genomeManage/css/base.css" />
</head>
<body>
    <div class="row uploadGenome">
        <div class="large-12 columns">
            <form id="genomeUploadForm">{% csrf_token %}
                Drop gbk or embl files here or click to upload.
                <div id="genomePreviewBox" class="dropzone-previews"></div>
            </form>
        </div>
    </div>

    <br>

    <div class="row genomeStatus">
        <div class="large-12 columns">
            <form id="genomeListForm" enctype="multipart/form-data" method="post">{% csrf_token %}
                <h5 class="subheader">Loaded Genomes</h5>
                <table id="genomeTable" class="hover compact stripe">
                    <thead>
                        <tr>
                            <th>ID</th><th>Name</th><th>Accession</th><th>Sequence Length</th><th>Description</th><th>File Name</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <br>

                <div class="row">
                    <div class="large-8 columns">
                        <input id="newGenomeName" type="text" placeholder="Genome Name">
                    </div>
                    <div class="large-4 columns">
                        <input id="updateGenomeButton" class="button" type="submit" value="Update Name">
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 columns">
                        <input id="newJobName" type="text" placeholder="Job Name (Optional)">
                    </div>
                    <div class="large-3 columns">
                        <label for="newickUpload">Newick File (Optional)</label>
                        <input id="newickUpload" name="newick" type="file" />
                    </div>
                    <div class="large-3 columns">
                        <label for="giUpload">GI File (Optional)</label>
                        <input id="giUpload" name="gi" type="file" />
                    </div>
                    <div class="large-3 columns">
                        <input id="runAnalysisButton" class="button" type="submit" value="Run Analysis">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>

    <div class="row jobStatus">
        <div class="large-12 columns">
            <h5 class="subheader">Job Status</h5>
            <table id="jobTable" class="hover compact stripe">
                <thead>
                    <tr>
                        <th>ID</th><th>Name</th><th>Job Type</th><th>Submission Time</th><th>Completion Time</th>
                        <th>Parsnp Success</th><th>Status</th><th>Link</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="static/genomeManage/js/manage.js"></script>
    <script src="static/vendor/dropzone/dropzone.js"></script>
    <script>
        $("form#genomeUploadForm").dropzone({
            url: "genomeUpload",
            paramName: "uploadedGenomes",
            previewsContainer:"#genomePreviewBox",
            acceptedFiles:".gb,.gbk,.embl",
            success: function(){
                ReloadGenomesTable();
            }
        });

        $(document).ready(function() {
            //Sets up the genome table
            $('#genomeTable').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'selectAll',
                    'selectNone'
                ],
                language: {
                    buttons: {
                        selectAll: "Select all items",
                        selectNone: "Select none"
                    }
                },
                "ajax": '/getGenomes',
                select: {
                    style: 'multi'
                },
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": true,
                        "searchable": true
                    }
                ]
            });

            //Sets up job table
            var jobTable = $('#jobTable').DataTable({
                "ajax": '/getJobs',
                "columnDefs": [
                    {
                        // Replaces the status character ("C","Q","R","F") with a symbol representing the character
                        "targets": [ -2 ],
                        "visible": true,
                        "searchable": false,
                        "data": null,
                        "render": function (data, type, full, meta){
                            var color = null;
                            if (data[6] == "C"){
                                color = "green";
                            }
                            else if (data[6] == "Q"){
                                color ="yellow"
                            }
                            else if (data[6] == "R"){
                                color = "orange";
                            }
                            else{
                                color = "red";
                            }
                            output = '<svg height="20" width="20">'+
                                    '<circle cx="12" cy="12" r="7" stroke="black" stroke-width="1" fill="'+color+'"/>'+
                                    '</svg>';
                            return output;
                        }
                    },
                    {
                        "targets": [ -1 ],
                        "visible": true,
                        "searchable": true,
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                            var outputUrl = ("getAlignment?id="+data[0]);
                            return '<a href="'+outputUrl+'" target="_blank">Results</a>';
                        }
                    }
                ]
            });

            //Formats the output for a genome details
            function getJobDetails(jobData){
                output = '<table>';
                for (var genomeIndex=0;genomeIndex<jobData.length;genomeIndex++){
                    output+= '<tr><td>'+jobData[genomeIndex]['givenName']+'</td><td>'+
                            jobData[genomeIndex]['description']+'</td><tr>';
                }
                output += '</table>';
                output += '<input class="deleteJobButton" class="button" type="submit" value="Delete Job">';
                return output;
            }

            //Add listeners for deleting a job
            addDeleteJobListener = function() {
                $('.deleteJobButton').on('click',this,function(){
                    var clickedButton = $(this);
                    var row = (clickedButton.parent().parent()).prev();
                    var jobId = parseInt(row[0].cells[0].innerHTML);
                    var csrftoken = getCookie('csrftoken');
                    $.ajax({
                        beforeSend: function (request)
                        {
                            request.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        url:"deleteJob?jobId="+jobId,
                        data: {jobId:jobId},
                        async: false,
                        method: "POST",
                        success: function(){
                            ReloadJobsTable();
                        }
                    })
                })
            };

            //Add listeners for rows on job table
            $('#jobTable').on('click','tr.odd, tr.even',function(){
                var row = jobTable.row(this);
                var jobId = row.data()[0];

                if (row.child.isShown()){
                    row.child.hide();
                }
                else{
                    $.ajax({
                        url:"getJobData?details=0&jobid="+jobId,
                        async: false,
                        success: function(data){
                            row.child(getJobDetails(data));
                            row.child.show();
                            addDeleteJobListener();
                        }
                    });
                }
            })
        } );
    </script>
</body>
</html>