<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IslandCompare - Manage</title>
    <link rel="stylesheet" href="static/vendor/foundation-6/css/foundation.css" />
    <link rel="stylesheet" href="static/genomeManage/css/base.css" />
</head>
<body>
    <div class="row uploadGenome">
        <div class="large-12 columns">
            <form id="genomeUploadForm">{% csrf_token %}
                Drop gbk or embl files here or click to upload.
                <div id="genomePreviewBox" class="dropzone-previews"></div>
            </form>
        </div>
    </div>

    <br>

    <div class="row genomeStatus">
        <div class="large-12 columns">
            <form id="genomeListForm" method="post">{% csrf_token %}
                <h5 class="subheader">Loaded Genomes</h5>
                <table id="genomeTable" class="hover compact stripe">
                    <thead>
                        <tr>
                            <th>ID</th><th>Name</th><th>Sequence Length</th><th>Description</th><th>File Name</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <input id="runAnalysisButton" class="button" type="submit" value="Run Analysis">
            </form>
        </div>
    </div>

    <br>

    <div class="row jobStatus">
        <div class="large-12 columns">
            <h5 class="subheader">Job Status</h5>
            <table id="jobTable" class="hover compact stripe">
                <thead>
                    <tr>
                        <th>ID</th><th>Job Type</th><th>Submission Time</th><th>Status</th><th>Link</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="static/genomeManage/js/manage.js"></script>
    <script src="static/vendor/dropzone/dropzone.js"></script>
    <script>
        $("form#genomeUploadForm").dropzone({
            url: "genomeUpload",
            paramName: "uploadedGenomes",
            previewsContainer:"#genomePreviewBox",
            acceptedFiles:".gb,.gbk,.embl",
            success: function(){
                ReloadGenomesTable();
            }
        });

        $(document).ready(function() {
            //Sets up the genome table
            $('#genomeTable').DataTable({
                "ajax": '/getGenomes',
                select: {
                    style: 'multi'
                },
                "columnDefs": [
                    {
                        "targets": [ 0 ],
                        "visible": false,
                        "searchable": false
                    }
                ]
            });

            //Sets up job table
            var jobTable = $('#jobTable').DataTable({
                "ajax": '/getJobs',
                "columnDefs": [
                    {
                        "targets": [ -1 ],
                        "visible": true,
                        "searchable": true,
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                            var outputUrl = ("getAlignment?id="+data[0]);
                            return '<a href="'+outputUrl+'" target="_blank">Results</a>';
                        }
                    }
                ]
            });

            //Formats the output for a genome details
            function getJobDetails(jobData){
                output = '<table>';
                for (var genomeIndex=0;genomeIndex<jobData.length;genomeIndex++){
                    output+= '<tr><td>'+jobData[genomeIndex]['name']+'</td><td>'+
                            jobData[genomeIndex]['description']+'</td><tr>';
                }
                output += '</table>';
                return output;
            }

            //Add listeners for rows on job table
            $('#jobTable').on('click','tr',function(){
                var row = jobTable.row(this);
                var jobId = row.data()[0];

                if (row.child.isShown()){
                    row.child.hide();
                }
                else{
                    $.ajax({
                        url:"getJobData?jobid="+jobId,
                        async: false,
                        success: function(data){
                            row.child(getJobDetails(data));
                            row.child.show();
                        }
                    });
                }
            })
        } );
    </script>
</body>
</html>